<h1>All Books</h1>
<hr>
<% @books.each do |book| %>
<h2>Title: <%= book.title %></h2>
<p>Number of Pages: <%= book.number_of_pages %></p>
<p>Publication Year: <%= book.publication_year %></p>
<h1> <% book.authors.each do |author| %>
<%= link_to author.name, "/authors/#{author.id}" %>
<% end %></h1>
<hr>
<% end %>
